{% extends 'base.html.twig' %}

{% block title %}Forgotten Password!{% endblock %}

{% block body %}
    <div class="contenu">
        <form method="post">
            <h1 class="h3 mb-3 font-weight">Mot de passe oublié</h1>
              <label for="inputEmail" class="sr-only">Email</label>
            <div class="icon">
                 <i class="fa fa-at"></i>
                 <input type="email" name="email" id="inputEmail1" class="form-control" placeholder="Adresse mail" required autofocus>
            </div>
            <button class="btn btn-lg btn-primary2" type="submit">
                Envoyer !
            </button>
        </form>
    </div>


{% endblock %}
