{% extends 'base.html.twig' %}

{% block title %}Mon Profil {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Mon Profil</h1>

                {{ user.email }}
            </div>
            <div class="col-sm">


                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
