{% extends 'admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="" style="width:100%; text-align: center;">


<div class="" style="border: 1px solid blue; width:30%;float:left;">
  lorem ipsum dolor sit amet
</div>

<div class="" style="border: 1px solid green; width:30%; float: left;">
  lorem ipsum dolor sit amet
</div>

<div class="" style="border:1px solid red; width:30%;float: left;">
  lorem ipsum dolor sit amet
</div>

</div>


{% endblock %}
