@import "reset.css";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* Définition d'un wrap à 1200 px sur le <header> et le <footer> */
.wrap-w1200 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body{
    width:100%;
    height: 100%;
}

/* ****************************************** */
/* ***************** HEADER ***************** */
/* ****************************************** */

.wrap-header {
    background-color: #e2e204; /* par defaut le back-ground du header est 'jaune' */
}

header {
    background-color: #f7f7ca; /* par defaut les cotés du back-ground du header sont 'beige' */
    position: relative;
}

header .inscription {
    float: right;
    margin: 5px 15px 20px;
}

header .inscription ul li{
    float: left;
    margin: 0 20px;
}
header .titre{
  width: 25%;
  height: 50px;
  position: absolute;
  margin-top: -2%;
  margin-left: 30%;
  background-color:	darkorange	;
  border-radius: 15px;
  text-align: center;
  z-index: 1000;
}
header .titre h1{
  padding-top: 2.5%;
  font-family: 'Luckiest Guy', cursive;
  font-size: 2em;
  color: #f7f7ca;;
}

header a {
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    font-family: 'Nunito', sans-serif;
}
header .logo{
  height: 20%;
  position: absolute;
  z-index: 1000;
  margin-top: -15px;
}

.flexslider-header .slides img{
    width: 100%;
}


/* ****************************************** */
/* ***************** INDEX ***************** */
/* ****************************************** */

#accueil{
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

#accueil img{
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.7;
}

#accueil .search{
    z-index: 1000;
    position: absolute;
    top: 1%;
    left:10%;
    width: 80%;
    height: 95%;
}

/* navbar de recherche */
.navbar{
    background-color: darkorange;
    margin: 20px auto;
    text-align: center;
    padding: 10px 0;
    opacity: 0.6;
    width: 100%;
}


/* CSS concernant la carte de France */
.carte svg{
    width: 62%;
    height: 100%;
    margin-top: 20px;
}

#map path {
    fill:green;
    stroke:#FFFFFF;
    stroke-width:0.6;
    transition: fill 0.2s, stroke 0.3s;
}
#map path:hover {
    fill: red;
    stroke: red;
}
#map .separator {
    stroke: #ccc;
    fill: none;
    stroke-width:1.5;
}
#map .separator:hover {
    stroke: #ccc;
    fill: none;
}

path{width: 100%;}


/* ******************************************* */
/* *************** FOOTER ******************** */
/* ******************************************* */

footer {
    background-color: #f7f7ca; /* par defaut les cotés du back-ground du footer sont 'beige' */
    text-align: center;
    padding: 20px 0;
}
.wrap-footer {
  background-color: #e2e204;     /* par defaut le back-ground du header est 'gris foncé' */
}
footer a {
  color: black;
  font-family: 'Nunito', sans-serif;
}
footer .sociaux ul li {
  width: 25%;
  float: left;
}
footer .contact a {
  margin-top: 10%;
}
footer a .contact{
  margin-left: 30px;;
}
h2 {
  font-weight: bold;
  padding-bottom: 5px;
}

.footer {

}

.box-footer{
    float: left;
    width: 33.33%;

}


/* ******************************************* */
/* *************** RESPONSIVE ******************** */
/* ******************************************* */
@media screen and (max-width: 1024px) {
    .carte img{
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .carte img{
        width: 100%;
        height: 100%;
    }

    .navbar{
        display: none;
    }
}


 /* HEAD */
    .navbar{
        display: none;
    }
}
