@import "reset.css";
/* Définition d'un wrap à 1200 px sur le <header> et le <footer> */
.wrap-w1200 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ****************************************** */
/* ***************** HEADER ***************** */
/* ****************************************** */

.wrap-header {
    background-color: #A0522D; /* par defaut le back-ground du header est 'jaune' */
}

header {
    position: relative;
    background-color: #CD853F; /* par defaut les cotés du back-ground du header sont 'beige' */
}

header .deconnexion {
    float: right;
    margin: 5px 15px 20px;
}

header a {
    text-decoration: none;
    font-size: 1.2em;
}
header .logo{
  position: absolute;
  z-index: 1000;
  
}
header .titre{
  width: 25%;
  position: absolute;
  margin-left: 38%;
  background-color:	#9ACD32;
  text-align: center;
}
h1 {
  margin-top: 20px;
  text-align: center;
}
section .lien{
  width: 50%;
  float: left;
  margin-top: 20%
}
section .listing{
  width: 50%;
  float: left;
  margin-top: 20%;
}
section .texte{
  width: 50%;
  float: right;
}

/* ****************************************** */
/* ***************** INDEX ***************** */
/* ****************************************** */

#accueil{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

#accueil img{
    width: 100%;
    z-index: 1;
    position: relative;
    opacity: 0.7;
}

#accueil .search{
    z-index: 1000;
    position: absolute;
    top: 32%;
    left: 16%;
    width: 68%;
}

/* navbar de recherche */
.navbar{
    background-color: darkorange;
    margin: 20px auto;
    text-align: center;
    padding: 10px 0;
    opacity: 0.6;
}
path{width: 100%;}


/* ******************************************* */
/* *************** FOOTER ******************** */
/* ******************************************* */

footer {
    background-color: #f7f7ca; /* par defaut les cotés du back-ground du footer sont 'beige' */
    text-align: center;
    padding: 20px 0;
}

.wrap-footer {
    background-color: grey; /* par defaut le back-ground du header est 'gris foncé' */
}

.box-footer{
    float: left;
    width: 25%;
}

/* ******************************************* */
/* *************** RESPONSIVE ******************** */
/* ******************************************* */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
