@import "reset.css";
/* Définition d'un wrap à 1200 px sur le <header> et le <footer> */
.wrap-w1200 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ****************************************** */
/* ***************** HEADER ***************** */
/* ****************************************** */

.wrap-header {
    background-color: #A0522D; /* par defaut le back-ground du header est 'jaune' */
}

header {
    position: relative;
    background-color: #CD853F; /* par defaut les cotés du back-ground du header sont 'beige' */
}

header .navigation {
    float: right;
    margin: 15px 35px 20px;
}
header .navigation ul{
  background-color: grey;

}
header .navigation ul li {
  width: 50%;
  float: left;
  display: inline-block;
  text-align: center;
}
header .navigation a {
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  font-family: 'Nunito', sans-serif;

}

header .titre{
  width: 25%;
  height: 50px;
  position: absolute;
  margin-top: -1%;
  margin-left: 30%;
  background-color:	darkorange	;
  border-radius: 15px;
  text-align: center;
}
header .titre h1{
  padding-top: 2.5%;
font-family: 'Luckiest Guy', cursive;
  font-size: 2em;
  color: #8B4513;
}
header .logo{
  height: 20%;
  position: absolute;
  z-index: 1000;
  margin-top: -15px;
}
section .lien{
  width: 40%;
  height: 200px;
  float: left;
  margin-top: 10%;
  background-color: #f7f7ca;
  border-radius: 10px;
  text-align: center;
}
section .lien a{
font-family: 'Nunito', sans-serif;
}
section .listing{
  width: 40%;
  height: 200px;
  float: left;
  font-family: 'Bowlby One', cursive;
  margin-top: 12%;
  background-color: #f7f7ca;
  border-radius: 10px;
  text-align: center;
}
section .texte {
  background-color: #f7f7ca;
  border-radius: 10px;
  margin-top: 10%;
  width: 50%;
  float: right;
}
section .texte p{
  font-family: 'Bowlby One', cursive;
  text-align: justify;
}
/* ****************************************** */
/* ***************** INDEX ***************** */
/* ****************************************** */

#accueil{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

#accueil img{
    width: 100%;
    z-index: 1;
    position: relative;
    opacity: 0.7;
}

#accueil .search{
    z-index: 1000;
    position: absolute;
    top: 32%;
    left: 16%;
    width: 68%;
}

/* navbar de recherche */
.navbar{
    background-color: darkorange;
    margin: 20px auto;
    text-align: center;
    padding: 10px 0;
    opacity: 0.6;
}
path{width: 100%;}


/* ******************************************* */
/* *************** FOOTER ******************** */
/* ******************************************* */

footer {
  margin-top: 5%;
    background-color: #CD853F; /* par defaut les cotés du back-ground du footer sont 'beige' */
    text-align: center;
    padding: 20px 0;
}

.wrap-footer {
    background-color: grey; /* par defaut le back-ground du header est 'gris foncé' */
}
.bigbox-footer {
  background-color: #A0522D;
}
.box-footer{
    float: left;
    width: 25%;
}

/* ******************************************* */
/* *************** RESPONSIVE ******************** */
/* ******************************************* */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
