@import "reset.css";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* Définition d'un wrap à 1200 px sur le <header> et le <footer> */
.wrap-w1200 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

body{
    width:100%;
    height: 100%;
}

/* ****************************************** */
/* ***************** HEADER ***************** */
/* ****************************************** */

header {
    background-color: #228B22; /* par defaut les cotés du back-ground du header sont 'beige' */
    position: relative;
}

header .inscription {
    float: right;
    margin: 20px 15px 20px;
}

header .inscription ul li{
    float: left;
    margin: 0 20px;
}
header .fa-user-plus{
  padding-right: 10px;
}
header .fa-user{
 padding-right: 10px;
}
header .titre h1{
  position: absolute;
  margin-top: -9.25%;
  padding-left: 20%;
  font-family: 'Luckiest Guy', cursive;
  font-size: 2em;
  color: #f7f7ca;
  z-index: 1000;
}

header a {
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    font-family: 'Nunito', sans-serif;
}
header a:hover {
  color: darkorange;
}
header .logo{
    width: 20%;
    position: absolute;
    z-index: 1000;
    margin-top: -15px;
}

.flexslider-header .slides img{
    width: 100%;
}


/* ****************************************** */
/* ***************** INDEX ***************** */
/* ****************************************** */

#accueil{
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

#accueil img{
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.7;
}

#accueil .search{
    z-index: 1000;
    position: absolute;
    top: 8%;
    left:10%;
    width: 80%;
    height: 95%;
}
/* modal*/
#accueil button.btn.btn-primary{
  background-color: darkorange;
  border-color: darkorange;
  position: relative;
  font-size: 1.5em;
  font-family: 'Nunito', sans-serif;

}
#accueil button.btn.btn-primary:hover {
  background-color: orange;
  border-color: orange;
  position: relative;
  font-family: 'Nunito', sans-serif;
}

#accueil .visiteurs {
  position: absolute;
  top: 10%;
  left:10%;
  z-index: 1001;
}
#accueil .producteur{
  position: absolute;
  top: 10%;
  left:75%;
  z-index: 1001;
}
#accueil .modal-body{
  font-family: font-family: 'Nunito', sans-serif;
  text-align: justify;
}
/* CSS concernant la carte de France */
.carte svg{
    width: 62%;
    height: 100%;
    margin-top: 20px;
}

#map path {
    fill:green;
    stroke:#FFFFFF;
    stroke-width:0.6;
    transition: fill 0.2s, stroke 0.3s;
}
#map path:hover {
    fill: #FF8C00;
    stroke: #FF8C00;
}
#map .separator {
    stroke: #ccc;
    fill: none;
    stroke-width:1.5;
}
#map .separator:hover {
    stroke: #ccc;
    fill: none;
}

path{width: 100%;}
/* ******************************************* */
/***************** Producteur **************** */
/* ******************************************* */
section .lien{
  width: 40%;
  height: 200px;
  float: left;
  margin-top: 10%;
  border-radius: 10px;
  text-align: center;
  border: dashed 1px black;
}

section .listing{
  width: 40%;
  height: 200px;
  float: left;
  font-family: 'Bowlby One', cursive;
  margin-top: 12%;
  border-radius: 10px;
    border: dashed 1px black;
  text-align: center;
}
section .lien a{
font-family: 'Nunito', sans-serif;
padding-top: 30%;
}
section .texte {
  border-radius: 10px;
  margin-top: -25%;
  width: 50%;
  float: right;
  border: dashed 1px black;
}
section .texte p{
  font-family: 'Bowlby One', cursive;
  text-align: justify;
}
/* ******************************************* */
/* *************** LES SELECTIONS ************ */
/* ******************************************* */
#les_selections{
    text-align: center;
    padding: 50px;
}
#les_selections .navbar{
    width: 50%;
    background-color: lightgrey;
    margin:0 auto;
    opacity: 0.8;
    padding: 5px 0;
    text-align: center;
}
#les_selections h1{
    font-size: 30px;
    margin: 20px 0;
    text-transform: uppercase;
}

#les_selections .prod{
    text-align: center;
    margin: 10px auto;
    color: white;
    background-color: green;
    width: 30%;
    padding: 10px;
}

#les_selections .prod .ident{
    font-size: 18px;
    font-weight: bolder;
}

#les_selections select{
    margin: 0 20px;
}
#les_selections button{
    m
}

/* ******************************* */
/*****css. formulaire register  ***/
/* ***************************** */
.inscription {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  margin-top: 2%;
}
.inscription h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5em;

}
.champs {
  width: 30% ;
  margin: 0 auto;
}

button.btn1 {
  background-color:#228B22;
  color: white;
  border-radius: 5px;
  margin-bottom: 10%;
  margin-left: 60%;
  border-color: #228B22;
  padding: 10px 20px 10px 20px;
  font-family: 'Nunito', sans-serif;
}
button.btn1:hover {
  background-color: darkorange;
  border-color: darkorange;
}
.form-check{
  margin-top: 2%;
  margin-left: -50%;
}
/* ******************************* */
/*****css. login ***/
/* ***************************** */
.container {
  font-family: 'Nunito', sans-serif;
  margin-top: 2%;
  font-weight: bold;
}
h2 {
  text-align: center;
    margin-top: 20px;
    font-size: 1.5em;

}
.col-md-6-2 a {
    width: 100%;
    margin: 2% 2% 20% 50%;

}
.form-check.mb-2.mr-sm-2.mb-sm-0 {
  margin-left: 50%;
  margin-top: -25%;
}
button.btn.btn-success {
margin-left: 50%;
box-shadow: 2px 2px 0px black;
}

button.btn.btn-success:hover{
  background-color: darkorange;
  border-color: darkorange;
}


/* ******************************************* */
/* *************** FOOTER ******************** */
/* ******************************************* */

footer {
    background-color: #228B22; /* par defaut les cotés du back-ground du footer sont 'beige' */
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: white;

}
footer a {
  color: white;
  font-family: 'Nunito', sans-serif;
}
/******* Bloc footer ******/
.bigbox-footer{
    width: 100%;
    padding-top: 3%;
}

.box-footer{
    float: left;
    width: 33.33%;

}
footer h2{
  padding-bottom: 5%;
}
/****** modal *********/
footer .modaldeux{
  margin-top: 5%;
  margin-bottom: 5%;
}
footer .modal-content{

  text-align: justify;
}
button.btn.btn-primary{
  background-color: #9ACD32;
  border-color: #9ACD32;
  color: white;
  box-shadow: 2px 2px 0px black;
}
button.btn.btn-primary:hover{
  background-color: darkorange;
  border-color: darkorange;
}

/******* Favicon******/
footer .fa-facebook-square{
  font-size: 2em;
}
footer .fa-facebook-square:hover{
  color: darkorange;
}
footer .fa-twitter-square {
  font-size: 2em;
}
footer .fa-twitter-square:hover{
  color: darkorange;
}
footer .fa-instagram{
  font-size: 2em;
}
footer .fa-instagram:hover{
  color: darkorange;
}
footer .fa-pinterest-square{
  font-size: 2em;
}
footer .fa-pinterest-square:hover{
  color: darkorange;
}
/****** bloc réseaux sociaux *******/
footer .sociaux ul li {
  width: 25%;
  float: left;
}
footer .copyright{
  margin-top: 20px;
  margin-bottom: 20px;
}

footer .contact {
  padding-top: 50px;
  margin-left: 30px;
}
footer .fa-address-card {
  padding-right: 10px;
}
h2 {
  font-weight: bold;
  padding-bottom: 5px;
}





/* ******************************************* */
/* *************** RESPONSIVE ******************** */
/* ******************************************* */


@media screen and (max-width: 768px) {
    .carte{
        width: 100%;
        height: 100%;
    }

    .navbar{
        display: none;
    }

    .box-footer{
        width: 100%;
        margin: 20px 0;
    }
    header .inscription {
        float: right;
        margin: 2px 1px 2px;
    }

    header .inscription ul li{
        float: left;
        margin: 0 2px;
    }
    header img{
        width: 100px;
        height: 100px;
        float: left;
    }
    header .titre{
      width: 75%;
      height: 35%;
      /* margin-top: 2px; */
      font-size: 1em;

    }

}

@media screen and (max-width: 375px) {
    .search{
        width: 60%;
        top: -15%;
    }
    header .logo{
        width: 5%;
    }
}
