@import "reset.css";

/* Définition d'un wrap à 1200 px sur le <header> et le <footer> */
.wrap-w1200 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ****************************************** */
/* ***************** HEADER ***************** */
/* ****************************************** */

.wrap-header {
    background-color: #e2e204; /* par defaut le back-ground du header est 'jaune' */
}

header {
    background-color: #f7f7ca; /* par defaut les cotés du back-ground du header sont 'beige' */
}

header .inscription {
    float: right;
    margin: 5px 15px 20px;
}

header a {
    text-decoration: none;
    font-size: 1.2em;
}








/* CSS concernant la carte de France */
#map {
    max-width: 100%;
    max-height: 100%;
}
#map path {
    fill:green;
    stroke:#FFFFFF;
    stroke-width:0.6;
    transition: fill 0.2s, stroke 0.3s;
}
#map path:hover {
    fill: red;
    stroke: red;
}
#map .separator {
    stroke: #ccc;
    fill: none;
    stroke-width:1.5;
}
#map .separator:hover {
    stroke: #ccc;
    fill: none;
}

path{width: 100%;}


/* ******************************************* */
/* *************** FOOTER ******************** */
/* ******************************************* */

footer {
    background-color: #f7f7ca; /* par defaut les cotés du back-ground du footer sont 'beige' */
}

.wrap-footer {
    background-color: grey; /* par defaut le back-ground du header est 'gris foncé' */
}
