{% extends 'base.html.twig' %}

{% block title %}Hello MentionsController!{% endblock %}

{% block body %}

     <div class="mentions">
         <h1> Mentions Légales</h1>
           <p class="texte1">
              Les présentes conditions générales d'uitilisations (dites "CGU") ont pour objet l'encadrement juridique description
              des modalités de mise à disposition du site et des services et de définir les conditions d'accès et d'utilisation des
              services par "l'utilisateur".

              Les présentes CGU sont accessibles sur le site à la rubrique "CGU".

              Toute inscription ou utilisation du site implique l'acceptation sans aucune réserve ni restriction des présentes CGU
              par l'utilisateur. Lors de l'inscription sur le site via le Formulaire d'inscription, chaque utilisateur accepte expréssement
              les présentes CGU en cochant la case précédant le texte suivant "Je reconnais avoir lu et compris les CGU et je les accepte".
              En cas de non acceptation des CGU stipulées dans le présent contrat, l'utilisateur se doit de renoncer à l'accès des services
              proposés par le site.

              Trouves ta ferme se réserve le droit de modifier unilatèralement et à tout moment le contenu des présentes CGU.
           </p>
        <h2>Article 1 Mentions Légales</h2>
          <p class="texte2">
            L'édition du site Trouves ta fermes est assurée par l'association Trouves Ta Fermes, dont le siège sociale
            est situé au 27160 Epaignes.
            Numéro de téléphone : 06 45 78 24 26.
            Adresse mail : trouvestaferme@gmail.com.
            Le directeur de la publication est assurée par Laura Reboux.
            Hébergeur : OVH.
            etc
          </p>
        <h2>Article 2: Accès au site</h2>
          <p></p>
        <h2>Article 3: Collecte des données</h2>
          <p></p>
      </div>

{% endblock %}
